@font-face {
	font-family: 'standard';
	src: url('../font.woff') format('woff');
}

html {
	width: 100%;
	height: 100%;
	margin: 0px;
}

body {
	background-color: #474747;
	color: white;
	font-family: standard;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	margin: 0px;
	padding: 4px;
}

#waitingScreen {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	text-align: center;
}

#waitingScreen span {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3em;
}

a, a:visited, a:active, a:hover {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

nav li {
	display: inline-block;
	margin: 0px 16px;
}

nav li a, nav li a:visited, nav li a:active, nav li a:hover {
	color: white;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 2px solid black;
}

td, th {
	padding: 15px;
}

td {
	background-color: white;
	color: black;
}

td input[type="checkbox"] {
	width: 16px;
	height: 16px;
}

th {
	background-color: #DE4343;
	color: white;
}

input[type="text"], input[type="number"] {
	font-family: inherit;
	border: 2px solid black;
}

#action-buttons {
	padding: 16px;
	margin: 8px;
	border: 1px solid white;
	display: inline-block;
}

#action-buttons a {
	background-color: #DE4343;
	color: white;
	border: 2px solid black;
	font-family: inherit;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	margin: 0px 8px;
	padding: 4px;
}