<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
            <error statusCode="403" subStatusCode="4" path="" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
