@font-face {
	font-family: 'standard';
	src: url('../fonts/font.woff') format('woff');
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: standard;
	font-weight: bold;
	background: url('../images/grabtag.png');
	background-repeat: no-repeat;
	background-position: center;
}

#backgroundFader {
	opacity: 0.8;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	z-index: -1;
}

select, input {
	font-family: standard;
	font-size: 125%;
}

#main {
	width: 100%;
	height: 100%;
}

header {
	background-color: #474747;
	padding: 3%;
	color: white;
	box-shadow: 2px 2px 2px #B2B2B2;
	font-size: 125%;
}

header a {
	text-decoration: none;
	color: white;
}

#tag {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	font-size: 200%;
	text-shadow: 2px 2px 2px #B2B2B2;
}

#nextButton {
	position: absolute;
	bottom: 5%;
	text-align: center;
	width: 54%;
	left: 20%;
	text-decoration: none;
	padding: 3%;
	border-radius: 2px;
	font-size: 150%;
}

.enabledNextButton {
	box-shadow: 2px 2px 2px #B2B2B2;
	background-color: #DE4343;
	color: white;
}

.enabledNextButton:active {
	box-shadow: inset 2px 2px 2px #6F2222;
	background-color: #B23636;
	color: #CACACA;
}

.disabledNextButton {
	box-shadow: 2px 2px 2px #B2B2B2;
	background-color: #B2B2B2;
	color: white;
}

.teamScore {
	background-color: #474747;
	color: white;
	width: 28%;
	padding: 2% 1%;
	position: absolute;
	border-radius: 2px;
	display: block;
	text-decoration: none;
	white-space: nowrap;
	text-align: center;
	box-shadow: 2px 2px 2px #B2B2B2;
	overflow: hidden;
}

.teamScore:active {
	box-shadow: inset 2px 2px 2px #101010;
	color: #B2B2B2;
	background-color: #2E2E2E;
}

#menuButton {
	width: 5%;
}

#mainMenuDimmer {
	/*display: none;*/
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

#mainMenu {
	/*display: none;*/
	width: 80%;
	height: 80%;
	position: absolute;
	left: 10%;
	top: 10%;
	background-color: #474747;
	color: white;
	z-index: 5;
	overflow: auto;
	box-shadow: 16px 16px 8px black;
	border: 1px solid #555555;
}

.menuHeader {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	width: 98%;
	padding: 1%;
	background-color: #878787;
}

.menuItem {
	font-size: 90%;
	border-bottom: 1px solid #555555;
	border-top: 1px solid #555555;
	padding: 4%;
	font-weight: normal;
	display: block;
}

.menuItem:active {
	background-color: #979797;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s linear;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.standardDialogForm {
	height: 100%;
	position: relative;
}

.standardDialogDiv {
	overflow: auto;
	position: absolute;
	line-height: 100%;
}

.standardDialogDiv, .standardDialogBackDiv {
	width: 100%;
	height: 80%;
}

.standardDialogMoreIcon {
	display: block;
	position: absolute;
	right: 0%;
	bottom: 0%;
}