/* Dialog style */

.dialog-top {
    display: table;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
	height: 100%;
	z-index: 1000;
}

.dialog-screen-dimmer {
    background-color: rgba(0, 0, 0, 0.8);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 999;
}

.dialog-dialog-box {
    background-color: #474747;  /* dialog box background color */
    color: white;   /* dialog box text color */
    width: 80%;
    font-size: 120%;
    padding: 12% 4%;
    position: relative;
    display: inline-block;
    text-align: left;
    z-index: 1000;
	max-height: 90%;
	line-height: 200%;
	font-weight: normal;
	box-shadow: 16px 16px 8px black;
}

.dialog-dialog-box a {
    color: white; /* dialog box link color */
}

.dialog-button-div {
    text-align: center;
}

.dialog-dialog-box input[type="text"], .dialog-dialog-box input[type="number"] {
    width: 100%;
    margin: 4% 0%;
	border: 0px;
}

.dialog-dialog-box input[type="button"], .dialog-dialog-box input[type="submit"] {
    margin: 4%;
    padding: 2% 6%;
    background-color: #DE4343;  /* button color */
    color: white;   /* button text color */
    font-size: 120%;
    border-radius: 2px;
    font-family: inherit;
    cursor: pointer;
	box-shadow: 2px 2px 2px black;
	min-width: 33%;
	border: 0px;
}

.dialog-dialog-box input[type="button"]:active, .dialog-dialog-box input[type="submit"]:active {
	box-shadow: inset 2px 2px 2px #6F2222;
	background-color: #B23636;
	color: #CACACA;
}

.dialog-dialog-box input[type="button"]:focus, .dialog-dialog-box input[type="submit"]:focus {
    outline: 0px;
}

.dialog-close-button {
    position: absolute;
    right: 2%;
    top: 2%;
	width: 8%;
    cursor: pointer;
}

.dialog-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s linear;
}

.dialog-hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}