#backgroundFader {
	background-color: black;
}

header {
	background-color: #8C4646;
}

body {
	background: url('../images/background_campfire.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#tag {
	text-shadow: 2px 2px 2px black;
	color: white;
}

.teamScore {
	background-color: #8C4646;
}

#tag-metadata {
	color: white;
}

.enabledNextButton {
	background-color: #D96459;
}

.enabledNextButton:active {
	box-shadow: inset 2px 2px 2px black;
	background-color: #8C4646;
}

#mainMenu {
	background-color: rgba(140,70,70,0.95);
}

.menuHeader {
	background-color: rgba(217,100,89,0.9);
}

.dialog-dialog-box {
    background-color: rgba(140,70,70, 0.9);  /* dialog box background color */
}

.dialog-dialog-box input[type="button"], .dialog-dialog-box input[type="submit"] {
	background-color: #D96459;  /* button color */
}
