#backgroundFader {
	background-color: white;
}

header {
	background-color: #474747;
	box-shadow: 0px 2px 2px #B2B2B2;
}

#tag {
	text-shadow: 2px 2px 2px #B2B2B2;
	color: black;
}

.enabledNextButton {
	box-shadow: 2px 2px 2px #B2B2B2;
}

.disabledNextButton {
	box-shadow: 2px 2px 2px #B2B2B2;
}

.teamScore {
	background-color: #474747;
	box-shadow: 2px 2px 2px #B2B2B2;
}
