#backgroundFader {
	background-color: black;
}

header {
	background-color: #8C4646;
}

body {
	background: url('../images/themes/campfire/background.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#tag {
	text-shadow: 2px 2px 2px black;
	color: white;
}

.teamScore {
	background-color: #8C4646;
}

#tag-metadata {
	color: white;
}

.enabledNextButton {
	background-color: #D96459;
}

.enabledNextButton:active {
	box-shadow: inset 2px 2px 2px black;
	background-color: #8C4646;
}

#mainMenu {
	background-color: rgba(140,70,70,0.95);
}

#mainMenuCloseIcon {
	background: url('../images/themes/campfire/delete.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.menuHeader {
	background-color: rgba(217,100,89,0.9);
}

.menuItem:active {
	background-color: #F2AE72;
}

.menuItemIncrease {
	background: url('../images/themes/campfire/increase.png');
}

.menuItemDecrease {
	background: url('../images/themes/campfire/decrease.png');
}

.newCategoryButton {
	background: url('../images/themes/campfire/create.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.deleteCategoryButton {
	background: url('../images/themes/campfire/delete.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.customPhrases .phrase .deletePhrase {
	background: url('../images/themes/campfire/delete.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.flag-button {
	background: url('../images/themes/campfire/flag.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dialog-dialog-box {
    background-color: rgba(88,140,126, 0.9);  /* dialog box background color */
}

.dialog-dialog-box input[type="button"], .dialog-dialog-box input[type="submit"] {
	background-color: #D96459;  /* button color */
}

.dialog-dialog-box input[type="button"]:active, .dialog-dialog-box input[type="submit"]:active {
	box-shadow: inset 2px 2px 2px black;	/* button active inset color */
	background-color: #8C4646;	/* button active color */
}

.dialog-close-button {
    background: url('../images/themes/campfire/delete.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}
