#backgroundFader {
	background-color: black;
}

header {
	background-color: #676767;
}

#tag {
	text-shadow: 2px 2px 2px black;
	color: white;
}

.teamScore {
	background-color: #676767;
}

#tag-metadata {
	color: white;
}
