#backgroundFader {
	background-color: white;
}

header {
	background-color: #474747;
}

body {
	background: url('../images/background_classic_white.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#tag {
	text-shadow: 2px 2px 2px #B2B2B2;
	color: black;
}

.teamScore {
	background-color: #474747;
}

#tag-metadata {
	color: black;
}
