#backgroundFader {
	background-color: black;
}

header {
	background-color: #160A47;
}

body {
	background: url('../images/themes/dark_sunset/background.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#tag {
	text-shadow: 2px 2px 2px black;
	color: white;
}

.teamScore {
	background-color: #160A47;
}

#tag-metadata {
	color: white;
}

.enabledNextButton {
	background-color: #F2671F;
}

.enabledNextButton:active {
	box-shadow: inset 2px 2px 2px #9C0F5F;
	background-color: #C91B26;
}

#mainMenu {
	background-color: rgba(22,10,71,0.95);
}

#mainMenuCloseIcon {
	background: url('../images/themes/dark_sunset/delete.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.menuHeader {
	background-color: rgba(96,4,122,0.9);
}

.menuItem:active {
	background-color: #9C0F5F;
}

.menuItemIncrease {
	background: url('../images/themes/dark_sunset/increase.png');
}

.menuItemDecrease {
	background: url('../images/themes/dark_sunset/decrease.png');
}

.newCategoryButton {
	background: url('../images/themes/dark_sunset/create.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.deleteCategoryButton {
	background: url('../images/themes/dark_sunset/delete.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.customPhrases .phrase .deletePhrase {
	background: url('../images/themes/dark_sunset/delete.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.flag-button {
	background: url('../images/themes/dark_sunset/flag.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dialog-dialog-box {
    background-color: rgba(22,10,71, 0.9);  /* dialog box background color */
}

.dialog-dialog-box input[type="button"], .dialog-dialog-box input[type="submit"] {
	background-color: #F2671F;  /* button color */
}

.dialog-dialog-box input[type="button"]:active, .dialog-dialog-box input[type="submit"]:active {
	box-shadow: inset 2px 2px 2px #9C0F5F;	/* button active inset color */
	background-color: #C91B26;	/* button active color */
}

.dialog-close-button {
    background: url('../images/themes/dark_sunset/delete.png');
    background-size: 100% 100%;
	background-repeat: no-repeat;
}
